.component {
    align-self: stretch;
    justify-self: stretch;
    position: relative;
}

.button {
    position: absolute;
    top: 0;
    left: 0;
    color: lightgreen;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid currentColor;
    transform: translateY(-100%);
    padding: 6px 16px;
    font-size: 1rem;
    border-radius: 4px;
}
