.component {
  background-color: #fce5e3;
}

.fieldSet {
  position: relative;
  border: 0 none;
  margin: 0 0 2rem;
  padding: 0;
  transition: all 0.7s ease;
  opacity: 1;
  overflow: hidden;
}

.fieldSet[aria-expanded="false"] {
  opacity: 0;
  height: 0;
  pointer-events: none;
  margin: 0;
}

.legend {
  font-size: 2rem;
  margin: 0 0 1.25em;
}

.canvas {
  position: absolute;
  height: 0;
  width: 0;
}

.displayButton {
  font-size: 1.5rem;
  padding: var(--s-1);
  cursor: pointer;
  color: var(--c-highlight-dark);
  border: 3px solid currentColor;
  background: var(--c-highlight);
  margin: 0 auto;
}
