.component {
  composes: gridBase from "../../style/utils.module.css";
  grid-auto-rows: auto;
}

.component > * {
  grid-area: content;
}

.row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: max-content;
}
