@use "./breakpoints" as breakpoints;

:root {
  --font-family: "Noto Sans SC", system-ui, sans-serif;
  --font-family-alt: "Montserrat", sans-serif;

  --t-base: 16;

  --fw-bolder: 700;
  --fw-bold: 600;
  --fw-medium: 500;
  --fw-normal: 400;
  --fw-light: 300;
  --fw-lighter: 200;

  /** Design token **/
  --t-body-xs: calc(12rem / var(--t-base));
  --t-body-s: calc(14rem / var(--t-base));
  --t-body-m: 1rem;
  --t-body-l: calc(18rem / var(--t-base));
  --t-body-xl: calc(20rem / var(--t-base));
  --t-body-xxl: calc(22rem / var(--t-base));

  --t-heading-xxs: calc(14rem / var(--t-base));
  --t-heading-xs: calc(18rem / var(--t-base));
  --t-heading-s: calc(24rem / var(--t-base));
  --t-heading-m: calc(28rem / var(--t-base));
  --t-heading-l: calc(34rem / var(--t-base));
  --t-heading-xl: calc(38rem / var(--t-base));
  --t-heading-xxl: calc(48rem / var(--t-base));

  // Line Height
  --lh-body-xs: 1;
  --lh-body-s: 1.25;
  --lh-body-m: 1.5;
  --lh-body-l: 1.8;

  --lh-heading-xs: 1.2;
  --lh-heading-s: 1.3;
  --lh-heading-m: 1.4;
  --lh-heading-l: 1.5;
  --lh-heading-xl: 1.6;
  --lh-heading-xxl: 1.7;

  // link
  --td-link-decoration: underline;
  --td-link-hover-decoration: none;
}

@media (min-width: breakpoints.$view-breakpoint-5) {
  :root {

    /** Design token **/

    --t-heading-xxs: calc(14rem / var(--t-base));
    --t-heading-xs: calc(18rem / var(--t-base));
    --t-heading-s: calc(24rem / var(--t-base));
    --t-heading-m: calc(28rem / var(--t-base));
    --t-heading-l: calc(36rem / var(--t-base));
    --t-heading-xl: calc(48rem / var(--t-base));
    --t-heading-xxl: calc(68rem / var(--t-base));

  }
}