@use "./breakpoints.scss" as breakpoints;

/* use this to fill the .row space */
.full {
  max-width: unset !important;
  grid-column: full !important;
}

/* use this to place content so that it has gutters to each side */
.content {
  grid-column: content;
}

/* use this to make a layout with gutters on each side */
.row {
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--s-min-gutter), 1fr) [content-start] minmax(
      0,
      var(--s-max-content-width)
    )
    [content-end] minmax(var(--s-min-gutter), 1fr) [full-end];
  grid-auto-rows: min-content;
}

.row > * {
  grid-column: content;
}
